@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.montserrat-reguler {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Monstserrat;
}

a.active NavLink{
    display: block;
}

@media (max-width:639px) {
    a.active{
        background-color: #612A12;
        color: white;
    }
}